/*タイトル色指定*/
.title {
  /* 文字色決定    */
  color: #02ccba;
}

/*段落*/
p{
  color :red;
  font-size: 20px;
}


.ul1{
  color: #ff00ff;
}
.ul2{
  color: #ff000f;
}
.ul3{
  color: #ff00f0;
}
.ul4{
  color: #00ffff;
}
.ul5{
  color: #755826;
}

ul{
/*  color: #ff00ff;*/
  font-family: Serif;
  font-size: 25px;
  background-color: #178343;
  width: 250px;
  
}

.ol1{
  color:#00ac55;
}
.ol{
  color:#20ff99;
}

ol{
/*  color: #00ff00;*/
  font-family: "Avenir Next";
  font-size: 20px;
  background-color: #dddddd;
  width: 300px;
  height: auto;
}

body {
  font-family: "Avenir Next";

  
}


/*ヘッダーごとの指定*/
